  <div class="feature"> 
	<UL><FONT SIZE="5"><B>Do you have a blank space that needs a piece of art?<B></FONT><BR><P>

		Let me help you create the perfect piece of custom art for your space.<BR>
		Contact me to discuss what you have in mind. Iíll give you some ideas as well as a price estimate.<BR><BR>

		<A HREF="mailto:jenn@studiojenn.com">Jenn@studiojenn.com</A><BR>
		415-806-4046
	</UL>
  
  </div> 
    <p>
    </p> 
  </div> 
 
 <div id="siteInfo"> 
   <a href="#"><FONT FACE="Times New Roman">About Us</FONT></a> | <a href="#"><FONT FACE="Times New Roman">Site
  Map</FONT></a> | <a href="#"><FONT FACE="Times New Roman">Privacy Policy</FONT></a> | <a href="#"><FONT FACE="Times New Roman">Contact Us</FONT></a> | &copy;2001-2006
  Studio Jenn
</div>