<div class="feature">
<ul>
	
<p><%=link_to "Your Photos as Transfers", {:action=>:transfer}, {:style=>"color:##872657;font-family:times;font-size: large;"}%></p>

<p><%=link_to "Commission a Piece of Art", {:action=>:commision}, {:style=>"color:#872657;font-family:times;font-size: large;"}%></p>

</ul>    
</div>