<div class="feature"> 
<FONT COLOR="BLACK" SIZE="2">Let me transform your favorite photos into miniature<BR>
one of a kind artwork.  This process will give your<BR>
transfered photo a painterly effect.<BR>
<SMALL><FONT COLOR="BLUE">(Please Note: It does not harm your orginial photo)</FONT></SMALL><BR> <BR>

<B>Here's how it works:</B>
<UL>
<FONT COLOR="BLUE">1)</FONT> You email or snail mail me your favorite 4x6
photos.<BR> <BR>

<FONT COLOR="BLUE">2)</FONT> I create from that photo a one of a kind archival
polaroid emulsion transfer.<BR> <BR>

<FONT COLOR="BLUE">3)</FONT> The finished artwork is then snail mailed back to
you.<BR> <BR>

<B>Image size requirements:</B>

Digital image size:<BR>
4 inches x 6 inches or 1800 pixels x 1200 pixels<BR>
Recommended resolution: 300 DPI<BR> <BR>

Hard copy image size: 4x6 inches<BR> <BR>

If your photo does not meet these size requirements,<BR>
please email customer service, and we will give you<BR>
the available options for your photo.<BR> <BR>

<B>Turn around time:</B> 2 weeks<BR>
1 week to create it, one week to ship it.<BR> <BR>

<B>Prices:</B> $50 per print<BR>
additional $10 with frame<BR> <BR>

<B><FONT COLOR="#CC0033">Special:</FONT><FONT COLOR="#006699"> 3 prints for $125</FONT></B><BR> <BR>

For more information, please email me:<BR>
<A HREF:"jenn@studiojenn.com">jenn@studiojenn.com</A><BR>


<p>    
</div>