		<P ALIGN="RIGHT"><FONT COLOR="#00007E" SIZE="6" FACE="Times New Roman"><B>PRESS RELEASE</B><BR>
		<FONT COLOR="00007E" SIZE="4"> For Immediate Release<BR>
		 For more information contact: Jenn Clark 415-806-4046<BR>
		 <a href="mailto:jenn@studiojenn.com">jenn@studiojenn.com</A><BR>
		website: studiojenn.com<BR>
		For JPEGS contact nancyvicknair@comcast.net</FONT></P>

		<p><img width=192 height=161 id="_x0000_i1025" src="../images/gallery.by.the.sea/aquarium1P.jpg"></p>

<!-- <P><BR>&nbsp;<BR>&nbsp;<BR>&nbsp;<BR></P> --><p><i><span style='font-size:13.5pt;color:#00007E'>Title:</span>
	<span style='font-size:15pt;color:#00007E'><B>&nbsp;&nbsp;&nbsp;Aquarium I</B></span></i>

<p><span style='font-size:13.5pt;color:#00007E'>&quot;Mini Series&quot; <BR>A solo
art show by <span class=SpellE>Jenn</span> Clark <BR>Nov. 1-Nov. 30, 2005 <o:p></o:p></span></p>

<p><span style='font-size:13.5pt;color:#00007E'>Muddy Waters Coffee House<BR> 260
Church Street <BR>(near Market) <BR><st1:place w:st="on"><st1:City w:st="on">San
  Francisco</st1:City>, <st1:State w:st="on">CA</st1:State></st1:place> <o:p></o:p></span></p>

<p><span style='font-size:13.5pt;color:#00007E'>&#8220;Mini Series&#8221; is a
compilation of <span class=SpellE>Jenn</span> Clark&#8217;s past year&#8217;s
work. It is composed of <BR>the artist&#8217;s favorite pieces from several
different series, which are all on display <BR>together. <st1:place w:st="on">Clark</st1:place>&#8217;s
focus is on nature, color, and simple compositions. &#8220;<span class=SpellE>Jenn&#8217;s</span>
art <BR>blend science and spirit in a modern-day alchemy of style and vision&#8221;,
stated Jessica <BR><o:p></o:p></span><span style='font-size:13.5pt;color:#00007E'>M. Most the images were taken
here in<st1:City w:st="on"><st1:place w:st="on">San Francisco</st1:place></st1:City>.
A few were taking in<BR> southern <st1:State w:st="on">California</st1:State>,
including the Mojave Desert, and along the <st1:City w:st="on"><st1:place
 w:st="on">San Diego</st1:place></st1:City> coast.<BR> Please stop by for a cup of
coffee and check it out! <o:p></o:p></span></p>




<p><u><span style='font-size:13.5pt;color:#00007E'>Biography: </span></u><span
style='font-size:13.5pt;color:#00007E'><o:p></o:p></span></p>

<p><span class=SpellE><span style='font-size:13.5pt;color:#00007E'>Jenn</span></span><span
style='font-size:13.5pt;color:#00007E'> Clark is a self-representing artist
presently living in <st1:place w:st="on"><st1:City w:st="on">San Francisco</st1:City>,
 <st1:State w:st="on">California</st1:State></st1:place>. <BR>Over the last 15
years, <st1:place w:st="on">Clark</st1:place> has explored many different
mediums, including <BR>sculpture, ceramics, painting, illustration, computer 3D
modeling &amp; animation,<BR> photography, and mixed media. <o:p></o:p></span></p>

<p><span style='font-size:13.5pt;color:#00007E'>About five years ago, <st1:place
w:st="on">Clark</st1:place> discovered a unique form of expression through an<BR>
alternative photographic process called Polaroid Emulsion transfer. This
process<BR> has allowed her to produce original fine art pieces from photographs. <o:p></o:p></span></p>





<p><u><span style='font-size:13.5pt;color:#00007E'>The Process: </span></u><span
style='font-size:13.5pt;color:#00007E'><o:p></o:p></span></p>

<p><span style='font-size:13.5pt;color:#00007E'>Polaroid emulsion transferring
is <st1:place w:st="on">Clark</st1:place>&#8217;s favorite mixed media
technique. It<BR> requires the following steps: 1<span class=GramE>)shooting</span>
positive slide film, 2) transferring the image<BR> to Polaroid film, 3) peeling the
image apart, 4)boiling it in hot water, 5) lifting the<BR> emulsion layer off of
the film, 6) transferring it to another surface, such as<BR> watercolor paper or
canvas. It&#8217;s a fun way to combine photography with fine art<BR> techniques. <o:p></o:p></span></p>




<p><u><span style='font-size:13.5pt;color:#00007E'>Dimensions &amp; Materials: </span></u><span
style='font-size:13.5pt;color:#00007E'><o:p></o:p></span></p>

<p><span style='font-size:13.5pt;color:#00007E'>All originals are 4 x 5 in. on
5 x 7 in. 100% rag watercolor <span class=GramE>paper,</span> or 4 x 5 in.
printed<BR> on 5 x 6 in. 7 oz. cotton canvas. The acrylic sizing is acid free and
ph balanced to<BR> ensure permanency. <o:p></o:p></span></p>

<p><span style='font-size:13.5pt;color:#00007E'>JPEGS available <o:p></o:p></span></p>



	
    </div> 
