<div class="feature">
<ul>
	
<p><%=link_to "C.O.R.E. Art Show", {:action=>:core}, {:style=>"color:#DB2645;font-family:times;font-size: large;"}%></p>
	
<p><%=link_to "Red Ink Studios Show", {:action=>:red_ink}, {:style=>"color:#DB2645;font-family:times;font-size: large;"}%></p>
	
<p><%=link_to "Muddy Waters Show", {:action=>:muddy_water}, {:style=>"color:#C82536;font-family:times;font-size: large;"}%></p>	
</ul>
</div>