    <div class="feature"> 
<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
		<TR VALIGN="MIDDLE" ALIGN="CENTER">
		<TD><A HREF="../images/exhibitions.red.ink.show/artshowmusicP.jpg"><IMG
                	SRC="../images/exhibitions.red.ink.show/artshowmusicT.jpg"
              		 BORDER="0" ALT="" TITLE="ART SHOW MUSIC"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.red.ink.show/gallerypeople1P.jpg"><IMG
               		 SRC="../images/exhibitions.red.ink.show/gallerypeople1T.jpg"
               		 BORDER="0" ALT="" TITLE="GALLERY PEOPLE"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.red.ink.show/jennart2P.jpg"><IMG
                	SRC="../images/exhibitions.red.ink.show/jennart2T.jpg"
                	BORDER="0" ALT="" TITLE="JENN ART 2"></A>
			</TD>	
		</TR>
		<P></P><P>
		<TR VALIGN="MIDDLE" ALIGN="CENTER">
		<TD><A HREF="../images/exhibitions.red.ink.show/jennartistP.jpg"><IMG
                	SRC="../images/exhibitions.red.ink.show/jennartistT.jpg"
              		 BORDER="0" ALT="" TITLE="JENN ARTIST"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.red.ink.show/jennartworkP.jpg"><IMG
               		 SRC="../images/exhibitions.red.ink.show/jennartworkT.jpg"
               		 BORDER="0" ALT="" TITLE="JENN ART WORK"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.red.ink.show/moreartP.jpg"><IMG
                	SRC="../images/exhibitions.red.ink.show/moreartT.jpg"
                	BORDER="0" ALT="" TITLE="MORE ART"></A>
			</TD>	
		</TR>
		<P></P><P>
		<TR VALIGN="MIDDLE" ALIGN="CENTER">
		<TD><A HREF="../images/exhibitions.red.ink.show/morepeopleP.jpg"><IMG
                	SRC="../images/exhibitions.red.ink.show/morepeopleT.jpg"
              		 BORDER="0" ALT="" TITLE="MORE PEOPLE"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.red.ink.show/redinkguyP.jpg"><IMG
               		 SRC="../images/exhibitions.red.ink.show/redinkguyT.jpg"
               		 BORDER="0" ALT="" TITLE="RED INK GUY"></A>
			</TD>
		</TR></TABLE>
		
    </div>