<div id="globalNav"> <img alt="" src="gblnav_left.gif" height="32" width="4" id="gnl"> 
  <img alt="" src="glbnav_right.gif" height="32" width="4" id="gnr"> 
  <div id="globalLink">
		<%=link_to "home", {:controller=>:home}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		<%=link_to "gallery", {:controller=>:gallery}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		
		<!--
	<a href="shopping.html" id="gl2" class="glink" onmouseover="ehandler(event,menuitem2);"><FONT COLOR="#CD5555">shopping</FONT> 
    </a>
		-->
		<%=link_to "artist bio", {:controller=>:artist_bio}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		<%=link_to "exhibitions", {:controller=>:exhibition}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
<!--
<a href="exhibitions.html" id="gl4" class="glink" onmouseover="ehandler(event,menuitem4);"><FONT COLOR="#C82536">exhibitions</FONT></a>
-->
<!--
<a href="services.html" id="gl5" class="glink" onmouseover="ehandler(event,menuitem5);"><FONT COLOR="#872657">services</FONT></a>

<a href="press.releases.html" id="gl6" class="glink" onmouseover="ehandler(event,menuitem6);"><FONT COLOR="#993366">press 
    releases</FONT> </a>

<a href="contact.html" id="gl7" class="glink" onmouseover="ehandler(event,menuitem7);"><FONT COLOR="#993399">contact</FONT></a>
-->

</div>
  <!--end globalLinks-->
</div>