  <div id="pageNav"> 
    <div id="sectionLinks"> 
		<%=link_to "What's New", :controller=>:home, :action=>:whats_new%>
		<%=link_to "About Polaroid Emulsion Transfer", :controller=>:home, :action=>:about_polaroid_emulsion_transfer%>
		<%=link_to "Other Artists", :controller=>:home, :action=>:other_artists%>
		<%=link_to "Copyright Law", :controller=>:home, :action=>:copyright_law%>
		
		<!--<a href="ebay.store.html">Ebay Store</a>  -->
	<!-- <a href="mailing.list.html">Mailing List Sign-Up</a> -->
	<!-- <a href="other.artists.html">Other Artists</a> -->
	<!-- <a href="copyright.html">Copyright Law</a>  -->
    </div> 
   
  </div>