<div class="feature"> 
  
  <h3><FONT FACE="Times New Roman">What is Polaroid Emulsion transferring?</FONT></h3> 
  <p>
   Polaroid emulsion transferring is my new favorite mixed media technique.  It requires the
following steps: <P>
<FONT COLOR="BLUE">1)</FONT> shooting positive slide film, </P><P>
<FONT COLOR="BLUE">2)</FONT> transferring the image to Polaroid film, </P><P>
<FONT COLOR="BLUE">3)</FONT> peeling the image apart, </P><P>
<FONT COLOR="BLUE">4)</FONT> boiling it in hot water, </P><P>
<FONT COLOR="BLUE">5)</FONT> lifting the emulsion layer off of the film, </P><P>
<FONT COLOR="BLUE">6)</FONT> transferring it to another surface such as watercolor
paper. </P><P><P>

Itís a fun way to combine photography with fine art
techniques.</P></P>
  </p> 
</div>