<div class="feature"> 
  <p>
&copy 2001-<%=Date.today.year%> Jennifer Clark, StudioJenn.com.<BR> 
All rights reserved.<P>

Photographs, text and code may not be reproduced,      <BR>
copied, stored, or manipulated in any form without the <BR>
written permission of the artist. This includes use of <BR>
any image as part of another photographic concept or   <BR>
illustration. No image or any part of this site is     <BR>
within public domain.</P>
  </p> 
</div> 
