 <div id="siteInfo"> 
  <a href="#"><FONT FACE="Times New Roman">About Us</FONT></a> | <a href="#"><FONT FACE="Times New Roman">Site
  Map</FONT></a> | <a href="#"><FONT FACE="Times New Roman">Privacy Policy</FONT></a> | <a href="#"><FONT FACE="Times New Roman">Contact Us</FONT></a> | &copy;2001-2006
  Studio Jenn
</div>