  <div id="content"> 
    <div class="feature">  
      <TABLE CELLPADDING="10" BORDER="0" WIDTH="850px">
	<TR>
			<TD><IMG sRC="./images/windowdoll2.jpg"	BORDER="0" TITLE="WINDOW DOLL 2"></TD>
			<TD ALIGN="LEFT"><P><BR> <B><FONT COLOR=#993399" SIZE="4"><I>Testimonial</I></FONT> -</B><BR>
			<I>Jenn Clark's art reflects a sense of connectedness and<BR>
			control in a world that is becoming increasingly unwired and<BR>
			unhinged.  Her technique of taking a particular view, adapting it,
			peeling it,stretching it and ultimately redefining her subject in
			the final product is simultaneously courageous and comforting.
			Jenn's polaroid transfers remind us that we are free to
			determine how we receive our environment, and that we
			may apprehend reality in any way we choose. Her pieces
			blend science and spirit in a modern-day alchemy of<BR>
			style and vision.</I> <B>- Jessica M.</B></P></TD>
		</TR>
	 	<TR>
          		<TD ALIGN="CENTER"><h3><FONT FACE="Times New Roman">"Window Doll"</FONT></h3><h1>Polaroid Transfer - 3 1/4 in. x 4 1/4 in.</h1> </TD>
       		 </TR>
      		</TABLE>
      <P> <BR>
      <P> <BR>
        <BR>
      <P> <BR>
      <P><BR>
        <BR>
      </P> </p> </div> 
      <p>
      </p> 
    </div> 
   
   <div id="siteInfo"> 
    <a href="#"><FONT FACE="Times New Roman">About Us</FONT></a> | <a href="#"><FONT FACE="Times New Roman">Site
    Map</FONT></a> | <a href="#"><FONT FACE="Times New Roman">Privacy Policy</FONT></a> | <a href="#"><FONT FACE="Times New Roman">Contact Us</FONT></a> |<FONT FACE="Times New Roman"> &copy;2001-2006
    Studio Jenn</FONT>
  </div> 
</div> 
<!--end pagecell1-->