<div class="feature"> 
<P>
	<U>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<BIG><B><I>Past Shows</I></B></BIG>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</U>
	<BR> <BR>
	<FONT SIZE="2" COLOR="#990033"><B>Red Ink Studios</B></FONT> presents: <FONT SIZE="2"><B>Open Portfolio Nights</B></FONT SIZE="2">
	<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT SIZE="2" COLOR="#6699CC">Exhibition Dates</FONT>: Sept. 25 - Oct. 5
	<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT SIZE="2" COLOR="#6699CC">Opening Reception</FONT>: Sept. 24, from 7p - 10pm
	<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT SIZE="2" COLOR="#6699CC">Location</FONT>: SF Mart Gallery on 9th St. between Market and Jesse
	<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please join us for a night of art, music, entertainment, food and beverages.
</P>
<br/>
<P>
	
	
	<FONT SIZE="2" COLOR="#330099"><B>&#34Mini Series&#34</B></FONT> - A solo art show by Jenn Clark
	<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT SIZE="2" COLOR="#6699CC">Where</FONT>: Muddy Waters Coffee House - 260 Church Street (near Market) San Fransicso, CA
	<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<FONT SIZE="2" COLOR="#6699CC">Exhibition Dates</FONT>: Nov. 1st - Nov. 30th
	<BR>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please stop by for a cup of coffee and to check it out! Thanks.
</P>
</div> 
  <p>
  </p> 
</div>