    <div class="feature"> 
<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
		<TR VALIGN="MIDDLE">
		<TD><A HREF="../images/exhibitions.core.show/core1P.jpg"><IMG
                	SRC="../images/exhibitions.core.show/core1T.jpg"
              		 BORDER="0" ALT="" TITLE="CoRE 1"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.core.show/core2P.jpg"><IMG
               		 SRC="../images/exhibitions.core.show/core2T.jpg"
               		 BORDER="0" ALT="" TITLE="CORE 2"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.core.show/core3P.jpg"><IMG
                	SRC="../images/exhibitions.core.show/core3T.jpg"
                	BORDER="0" ALT="" TITLE="CORE 3"></A>
			</TD>	
		</TR>
		<P></P><P>
		<TR VALIGN="MIDDLE">
		<TD><A HREF="../images/exhibitions.core.show/core4P.jpg"><IMG
                	SRC="../images/exhibitions.core.show/core4T.jpg"
              		 BORDER="0" ALT="" TITLE="CoRE 4"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.core.show/core5P.jpg"><IMG
               		 SRC="../images/exhibitions.core.show/core5T.jpg"
               		 BORDER="0" ALT="" TITLE="CORE 5"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.core.show/core6P.jpg"><IMG
                	SRC="../images/exhibitions.core.show/core6T.jpg"
                	BORDER="0" ALT="" TITLE="CORE 6"></A>
			</TD>	
		</TR>
		<P></P><P>
		<TR VALIGN="MIDDLE">
		<TD><A HREF="../images/exhibitions.core.show/core7P.jpg"><IMG
                	SRC="../images/exhibitions.core.show/core7T.jpg"
              		 BORDER="0" ALT="" TITLE="CoRE 7"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.core.show/core8P.jpg"><IMG
               		 SRC="../images/exhibitions.core.show/core8T.jpg"
               		 BORDER="0" ALT="" TITLE="CORE 8"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.core.show/core9P.jpg"><IMG
                	SRC="../images/exhibitions.core.show/core9T.jpg"
                	BORDER="0" ALT="" TITLE="CORE 9"></A>
			</TD>	
		</TR>
		<P></P><P>
		<TR VALIGN="MIDDLE">
		<TD><A HREF="../images/exhibitions.core.show/core10P.jpg"><IMG
                	SRC="../images/exhibitions.core.show/core10T.jpg"
              		 BORDER="0" ALT="" TITLE="CoRE 10"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.core.show/core11P.jpg"><IMG
               		 SRC="../images/exhibitions.core.show/core11T.jpg"
               		 BORDER="0" ALT="" TITLE="CORE 11"></A>
			</TD>
		<TD><A HREF="../images/exhibitions.core.show/core12P.jpg"><IMG
                	SRC="../images/exhibitions.core.show/core12T.jpg"
                	BORDER="0" ALT="" TITLE="CORE 12"></A>
			</TD>	
		</TR></TABLE>
		
    </div> 
