<div class="feature">
 <p>
<UL>
	
	<p><%=link_to "C.O.R.E. Art Show", {:action=>:core}, {:style=>"color:#DB2645;font-family:times;font-size: large;"}%></p>
	
	
	<P><a href="exhibitions.red.ink.show.html"><FONT FACE="Times New Roman" SIZE="3" COLOR="#C82536">Red Ink Studios Show</FONT></a></P><P>
<a href="exhibitions.muddy.waters.show.html"><FONT COLOR="#C82536" FACE="Times New Roman" SIZE="3">Muddy Waters Show</FONT></a></P>
</UL>
</div>