<div class="feature">
<P>
<TABLE CELLPADDING="2" ALIGN="CENTER" border="5">
	<TR>
		<TD ALIGN="CENTER"><FONT SIZE="5" FACE="Times New Roman">Jenn Clark</FONT></TD>
	</TR>
	<TR><TD><BR></TD></TR>
		<TR>
			<td>
				<p style="text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;">
					<img src="images/jennartist.jpg" border="0" title="ARTIST PIC">
				</p>
			</td>
		</TR>
	<TR>
		<TD ALIGN="CENTER"><FONT SIZE="4"><B>Artist Bio</B></FONT></TD></TR>
	<TR>
		<TD ALIGN="CENTER"><P><H1>I'm a self-representing artist presently living in Oahu, Hawaii.<BR>
	 	Over the last 17 years, I have explored many different mediums including<BR>
	 	sculpture, ceramics, painting, illustration, computer 3D modeling &<BR>
	 	animation, photography, and mixed media. <BR></P><P>
		Several years ago I discovered a unique form of expression through an<BR>
		 alternative photographic process called Polaroid emulsion transfer.  This<BR>
	 	process has allowed me to produce original fine art pieces from photographs. <BR></P><P>
		Currently, I'm off from my day job.  This has given me the opportunity to<BR>
	 	pursue a more creative lifestyle...hopefully the money will follow. </H1><BR></P></TD>
	</TR>
	</P><P>
	<TR>
		<TD ALIGN="CENTER"><FONT SIZE="4"><B>Artist Statement</B></FONT></TD></TR>
	<TR>
		<TD ALIGN="CENTER"><P><H1>Art is powerful way to communicate and connect with others.  I<BR>
		 love using the language of pictures to tell stories.  Some of my <BR>
		work is humorous in nature, other pieces are just things I find <BR>
		beautiful. Beauty comes in a multitude of forms, and my passion<BR>
		is to create and capture it.<BR></H1></p></TD>
	</TR></TABLE>


	</div> 
