  <div class="feature"> <P>
		<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
		<TR VALIGN="MIDDLE" ALIGN="CENTER">
		<TD>
		</TD>
		</TR></TABLE>

		<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
		<TR VALIGN="MIDDLE">
		<TD><A HREF="../images/gallery.by.the.sea/aquarium1P.jpg" TARGET="new_page"><IMG
              	SRC="../images/gallery.by.the.sea/aquarium1T.jpg"
             	 	BORDER="0" ALT="" TITLE="AQUARIUM 1"></A>
			</TD>
		<TD><A HREF="../images/gallery.by.the.sea/aquarium2P.jpg"><IMG
             	 	SRC="../images/gallery.by.the.sea/aquarium2T.jpg"
             		 BORDER="0" ALT="" TITLE="AQUARIUM 2"></A>
			</TD>
		<TD><A HREF="../images/gallery.by.the.sea/surferguyP.jpg"><IMG
              	SRC="../images/gallery.by.the.sea/surferguyT.jpg"
              	BORDER="0" ALT="" TITLE="SURFER GUY"></A>
			</TD>	
		<TD><A HREF="../images/gallery.by.the.sea/sharkP.jpg"><IMG
             	 	SRC="../images/gallery.by.the.sea/sharkT.jpg"
              	BORDER="0" ALT="" TITLE="SHARK"></A>
			</TD>
		<TD><A HREF="../images/gallery.by.the.sea/surfergirlsP.jpg"><IMG
             	 SRC="../images/gallery.by.the.sea/surfergirlsT.jpg"
             	 BORDER="0" ALT="" TITLE="SURFER GIRLS"></A>
			</TD>
						
		</TR></TABLE>
   		
	<P>
		
		<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
		<TR VALIGN="MIDDLE">
		

		<TD><A HREF="../images/gallery.by.the.sea/caribbean1P.jpg"><IMG
             	 SRC="../images/gallery.by.the.sea/caribbean1T.jpg"
             	 BORDER="0" ALT="" TITLE="CARIBBEAN 1"></A>
			</TD>				
			<TD><A HREF="../images/gallery.by.the.sea/caribbean2P.jpg"><IMG
              	SRC="../images/gallery.by.the.sea/caribbean2T.jpg"
             	 BORDER="0" ALT="" TITLE="CARIBBEAN 2"></A>
			</TD>
			<TD><A HREF="../images/gallery.by.the.sea/flockofseagullsP.jpg"><IMG
             	 SRC="../images/gallery.by.the.sea/flockofseagullsT.jpg"
             	 BORDER="0" ALT="" TITLE="FLOCK OF SEAGULLS"></A>
			</TD>		
		<TD><A HREF="../images/gallery.by.the.sea/beachhutP.jpg"><IMG
             	 SRC="../images/gallery.by.the.sea/beachhutT.jpg"
             	 BORDER="0" ALT="" TITLE="BEACH HUT"></A>
			</TD>
		</TR></TABLE>

		<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
		<TR VALIGN="MIDDLE">
		

		<TD><A HREF="../images/gallery.by.the.sea/harbor1P.jpg"><IMG
             	 SRC="../images/gallery.by.the.sea/harbor1T.jpg"
             	 BORDER="0" ALT="" TITLE="HARBOR 1"></A>
			</TD>				
			<TD><A HREF="../images/gallery.by.the.sea/harbor2P.jpg"><IMG
              	SRC="../images/gallery.by.the.sea/harbor2T.jpg"
             	 BORDER="0" ALT="" TITLE="HARBOR 2"></A>
			</TD>
			<TD><A HREF="../images/gallery.by.the.sea/sunset1P.jpg"><IMG
             	 SRC="../images/gallery.by.the.sea/sunset1T.jpg"
             	 BORDER="0" ALT="" TITLE="SUNSET 1"></A>
			</TD>		
		<TD><A HREF="../images/gallery.by.the.sea/sunset2P.jpg"><IMG
             	 SRC="../images/gallery.by.the.sea/sunset2T.jpg"
             	 BORDER="0" ALT="" TITLE="SUNSET 2"></A>
			</TD>
		</TR></TABLE>


  </div> 
    <P>
    </P></P> 
</div>