<div class="feature">
<P>
   <TABLE CELLPADDING="1" WIDTH="100%"><TR><TD>
   <TR VALIGN="MIDDLE">
	<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
	<TR VALIGN="MIDDLE">
	<TD><A HREF="../images/gallery.pretty.flowers/flowersbricksP.jpg"><IMG
            	SRC="../images/gallery.pretty.flowers/flowersbricksT.jpg"
           		BORDER="0" ALT="" TITLE="FLOWERS, BRICKS"></A>
		</TD>
	<TD><A HREF="../images/gallery.pretty.flowers/rosegardenP.jpg"><IMG
           		 SRC="../images/gallery.pretty.flowers/rosegardenT.jpg"
           		 BORDER="0" ALT="" TITLE="ROSE GARDEN"></A>
		</TD>
	<TD><A HREF="../images/gallery.pretty.flowers/snapdragonsP.jpg"><IMG
            	SRC="../images/gallery.pretty.flowers/snapdragonsT.jpg"
            	BORDER="0" ALT="" TITLE="SNAP DRAGONS"></A>
		</TD>	


	</TR></TABLE>
	<P></P><P>
	
	</div> 
  <P>
  </P></P> 
</div>