    <div class="feature"> <P>
	Five out of the seven pieces from this series are window displays taken in San francisco.<BR>
        Most of the pictures were taken at night and are neighbors including the Mission, Castro and Noe Valley districts of the
	city.</P><P>
	<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
		<TR VALIGN="MIDDLE">
		<TD><A HREF="../images/gallery.transfers/buddha.jpg" TARGET="new_page"><IMG
                	SRC="../images/gallery.transfers/buddha.gif"
               	 	BORDER="0" ALT="" TITLE="BUDDHA"></A>
			</TD>
		<TD><A HREF="../images/gallery.transfers/coffeeservice.jpg"><IMG
               	 	SRC="../images/gallery.transfers/coffeeservice.gif"
               		 BORDER="0" ALT="" TITLE="COFFEE SERVICE"></A>
			</TD>
		<TD><A HREF="../images/gallery.transfers/quietday.jpg"><IMG
                	SRC="../images/gallery.transfers/quietday.gif"
                	BORDER="0" ALT="" TITLE="QUIET DAY"></A>
			</TD>	
		<TD><A HREF="../images/gallery.transfers/shoefetish.jpg"><IMG
               	 	SRC="../images/gallery.transfers/shoefetish.gif"
                	BORDER="0" ALT="" TITLE="SHOE FETISH"></A>
			</TD>
					
		</TR></TABLE>
     		
	<P>
		
		<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
		<TR VALIGN="MIDDLE">
		

			<TD><A HREF="../images/gallery.transfers/windowdoll1.jpg"><IMG
               	 SRC="../images/gallery.transfers/windowdoll1.gif"
               	 BORDER="0" ALT="" TITLE="WINDOW DOLL 1"></A>
			</TD>				
			<TD><A HREF="../images/gallery.transfers/windowdoll2.jpg"><IMG
                	SRC="../images/gallery.transfers/windowdoll2.gif"
               	 BORDER="0" ALT="" TITLE="WINDOW DOLL 2"></A>
			</TD>
			<TD><A HREF="../images/gallery.transfers/windowdoll3.jpg"><IMG
               	 SRC="../images/gallery.transfers/windowdoll3.gif"
               	 BORDER="0" ALT="" TITLE="WINDOW DOLL 3"></A>
			</TD>		
		</TR></TABLE>



    </div> 
      <P>
      </P></P> 
    </div> 
   