<div class="feature">
<P>
   <TABLE CELLPADDING="1" WIDTH="100%"><TR><TD>
   <TR VALIGN="MIDDLE">
	<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
	<TR VALIGN="MIDDLE">
	<TD><A HREF="../images/gallery.safari/bearplayP.jpg"><IMG
            	SRC="../images/gallery.safari/bearplayT.jpg"
           		BORDER="0" ALT="" TITLE="BEAR PLAY"></A>
		</TD>
	<TD><A HREF="../images/gallery.safari/flamingoP.jpg"><IMG
           		 SRC="../images/gallery.safari/flamingoT.jpg"
           		 BORDER="0" ALT="" TITLE="FLAMINGO"></A>
		</TD>
	<TD><A HREF="../images/gallery.safari/giraffeP.jpg"><IMG
            	SRC="../images/gallery.safari/giraffeT.jpg"
            	BORDER="0" ALT="" TITLE="CACTUS 3"></A>
		</TD>	


	</TR></TABLE>
	<P></P><P>

	<TABLE CELLPADDING="5" WIDTH="100%"><TR><TD>
	<TR VALIGN="MIDDLE">
	<TD><A HREF="../images/gallery.safari/lionP.jpg"><IMG
           	 	SRC="../images/gallery.safari/lionT.jpg"
            	BORDER="0" ALT="" TITLE="LION"></A>
		</TD>
	<TD><A HREF="../images/gallery.safari/zibarraP.jpg"><IMG
           	 	SRC="../images/gallery.safari/zibarraT.jpg"
           		BORDER="0" ALT="" TITLE="ZEBRA"></A>
		</TD>			
	</TR></TABLE>
	<P></P><P>
	
	</div> 
  <P>
  </P></P> 
</div>