<div class="feature">
 <UL><p><BR><BR></P><P><H2>
<a href="mailto:jenn@studiojenn.com"><FONT FACE="Times New Roman" SIZE="3">jenn@studiojenn.com</FONT></a></p><p>
<FONT FACE="Times New Roman" SIZE="3" COLOR="#993399">Honolulu, Hawaii</p><p>
(808) 942 2868</H2></P>
</UL>
</div> 
